<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name = "Free CRM" >
   <test name = "Free CRM Application test cases">
      <classes>
           <class name = "com.qa.Test.Testcases.ContactpageTest" />
      </classes>
   </test>
</suite>  	